@model Glorpa.Models.Korisnik

<h1>Details</h1>

<div>
    <p><strong>Ime:</strong> @Model.Ime</p>
    <p><strong>Prezime:</strong> @Model.Prezime</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>PhoneNumber:</strong> @Model.PhoneNumber</p>
    <p><strong>Uloga:</strong> @Model.Uloga</p>
</div>