@model Glorpa.Models.Dostava

<h1>Details</h1>

<div>

    <p>
        <strong>Status:</strong>
        @Model.Status
    </p>

    <p>
        <strong>VrijemePreuzimanja:</strong>
        @Model.VrijemePreuzimanja
    </p>

    <p>
        <strong>VrijemeDostave:</strong>
        @Model.VrijemeDostave
    </p>

    <p>
        <strong>Narudzba:</strong>
        @Model.Narudzba?.Id
    </p>

    <p>
        <strong>Vremenski uslovi:</strong>
        @Model.VremenskiUslovi?.Tip
    </p>

</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>