@model IEnumerable<Glorpa.Models.Dostava>

<h1>Dostave</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Status</th>
            <th>VrijemePreuzimanja</th>
            <th>VrijemeDostave</th>
            <th>Narudzba</th>
            <th>VremenskiUslovi</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Status</td>
                <td>@item.VrijemePreuzimanja</td>
                <td>@item.VrijemeDostave</td>
                <td>@item.Narudzba?.Id</td>
                <td>@item.VremenskiUslovi?.Tip</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>