@model Glorpa.Models.Zarada

<h1>Details</h1>

<div>

    <p>
        <strong>Iznos:</strong>
        @Model.Iznos
    </p>

    <p>
        <strong>Datum:</strong>
        @Model.Datum
    </p>

    <p>
        <strong>Tip zarade:</strong>
        @Model.TipZarade
    </p>

    <p>
        <strong>Sat:</strong>
        @Model.Sat
    </p>

    <p>
        <strong>Dostava:</strong>
        @Model.Dostava?.Id
    </p>

</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>