@model IEnumerable<Glorpa.Models.Zarada>

<h1>Zarade</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Iznos</th>
            <th>Datum</th>
            <th>TipZarade</th>
            <th>Sat</th>
            <th>Dostava</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Iznos</td>
                <td>@item.Datum</td>
                <td>@item.TipZarade</td>
                <td>@item.Sat</td>
                <td>@item.Dostava?.Id</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>